.nft_static_text
    padding-top: 0.8vw


.search-input
    width: 30vw
    display: flex
    margin: 0 0 0 auto
    color: #111
    border-radius: 25px

.nft_search
    margin-top: 3vw

.btn_margin-bottom 
  margin-bottom: 5.2vw


@media screen and (max-width: 1300px )
    .search-input
        width: 100%
        display: flex
        margin: 0 0 0 auto
        color: #111

   
